.admin-header {
  background: #6a11cb;
  color: white;
  padding: 1rem;
}

.admin-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-header__menu span {
  margin-right: 1rem;
}

.admin-header__menu a,
.admin-header__menu button {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.admin-header__menu button:hover,
.admin-header__menu a:hover {
  text-decoration: underline;
}